.sidebarMenu {
  transition: all 350ms cubic-bezier(0.65, 1.95, 0.03, 0.32);
  border-radius: 10px;
  background-color: var(--bg-header);
  box-shadow: 0 0 10px var(--box-shadow);
  height: fit-content;
  z-index: 1;

  @media (max-width: 900px) {
    position: fixed !important;
    top: -10px;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100vh - 50px);
    z-index: 2;
    background-color: var(--bg-header);
    backdrop-filter: blur(10px);
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &.hide {
    transform: translateX(-600px);
  }

  &_item {
    list-style: none;
    padding: 10px 60px 10px 15px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: all 200ms ease-in;
    cursor: pointer;

    svg {
      margin-right: 10px;
    }

    &.active {
      background-color: var(--btn-active);
      box-shadow: 0 8px 20px var(--box-shadow);
    }

    &:hover {
      background-color: var(--btn-active);
      box-shadow: 0 8px 20px var(--box-shadow);
    }
  }
}

.active-icon .icon {
  transition: all 100ms ease-in-out;
  fill: var(--icon-pop);

  &-feed {
    stroke: var(--icon-pop);
    fill: transparent;
  }
}
